image/*.webp filter=lfs diff=lfs merge=lfs -text
image/*.png filter=lfs diff=lfs merge=lfs -text
image/*.jpg filter=lfs diff=lfs merge=lfs -text
image/*.jpeg filter=lfs diff=lfs merge=lfs -text
image/*.webp !text !filter !merge !diff
